.App {
	text-align: center;
	background-image: url("https://www.transparenttextures.com/patterns/dust.png");
	margin: auto;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
}

.App-link {
	color: #61dafb;
	display: flexbox;
	flex-flow: row nowrap;
	align-items: center;
	width: 90%;
	top: 0;
	margin-top: 0px;
}

@font-face {
	font-family: "Zilla Slab";
	src: url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@500&display=swap");
}

form {
	border: 5px black;
	box-shadow: #282c34;
}
