html {
	height: fit-content;
}

body {
	align-self: center;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	/* background-color: #6fe4e8; */
	/* background-image: url("https://www.transparenttextures.com/patterns/scribble-light.png"); */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

div#root {
	height: 100vh;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
.Navbar {
	text-align: center;
	align-items: center;
	font-family: Zilla Slab, sans-serif;
	font-size: larger;
	flex-direction: row;
	height: 4em;
	box-shadow: #023a50;
	display: flex;
	justify-content: space-between;
	/* background-image: url(http://www.transparenttextures.com/patterns/brick-wall.png); */
	top: 0;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-right: 0px;
	padding-left: 8px;
	width: 96%;
}

.Navbar-Buttons {
	display: flex;
	justify-content: space-between;
	margin-right: -1.5em;
}

.links {
	display: inline-block;
	font-size: x-large;
	font-family: "Zilla Slab", sans-serif;
	margin-left: 1.5em;
	width: 10em;
	border: 15px black;
	padding: 16px;
	margin: 20px;
}
button:hover {
	color: #0dadea;
}
h2 {
	font-style: italic;
	font-size: xx-large;
	font-family: Zilla Slab, sans-serif;
}
